#basemap==1.1.0 ## Install at https://matplotlib.org/basemap/users/installing.html
certifi==2018.4.16
chardet==3.0.4
cycler==0.10.0
idna==2.7
kiwisolver==1.0.1
#matlabengineforpython===R2018a ## Previously used to generate ground track plots
matplotlib==2.2.2
numpy==1.15.0
pyparsing==2.2.0
pyproj==1.9.5.1
pyshp==1.2.12
python-dateutil==2.7.3
pytz==2018.5
requests>=2.20.0
six==1.11.0
urllib3==1.23
